body
{
    background: rgb(204, 239, 235)
}

#banner {
    height: 100%;
    width: 100%;
}

h1{
    text-align: center;
    font-style: italic;
    

 style="text-align: center;
 }
p{ 
    text-align: center;
    style="font-size: 30px;
 }
 #missao {
    font-size: 20px
}
#livro {height: 30%;
width: 30%;
}
body
html
